[Unit]
Description=Node Exporter
Wants=network-online.target
After=network-online.target

[Service]
User=node_exporter
Group=node_exporter
Type=simple
ExecStart=/usr/local/bin/node_exporter --collectors.enabled arp,cpu,diskstats,filefd,hwmon,meminfo,loadavg,netdev,netstat,sockstat,stat,time,uname,filesystem,systemd

[Install]
WantedBy=multi-user.target